.header {
  width: 100%;
  background-color: #4051a3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 3px 3px 3px #0000003d;
}

.container {
  width: 100%;
}

.search-form {
  padding: 30px 20px;
  max-width: 584px;
  margin: 0 auto;
  position: relative;
}

.search-field {
  border: none;
  border-radius: 5px;
  padding: 15px 15px;
  width: 100%;
  box-shadow: 3px 3px 3px #0000003d;
}

.search-button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #7486eb;
  padding: 15px 15px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.search-button:hover {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #98a8ff;
  padding: 15px 15px;
  cursor: pointer;
}
